.crossroads-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.crossroads {
    border: 2px solid #333;
    width: 95vw;
    height: 95vw;
    background-color: lightgreen;
    position: relative;

    margin-top: -40%;
    /* Create a perspective view for the crossroads */
    /* perspective: 800px; */
    transform: perspective(200px) rotateX(15deg);
    transform-origin: bottom center;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    /* Make the bottom edge wider to create the illusion of depth */
    border-radius: 5px 5px 25px 25px;
    border-bottom-width: 4px;
}

.road-container {
    width: 50%;
    height: 50%;
    position: absolute;
    transform-origin: bottom right;
}

.road-north {
    transform: rotate(0deg);
}

.road-east {
    transform: rotate(90deg);
    transform-origin: bottom right;
}

.road-south {
    transform: rotate(180deg);
    transform-origin: bottom right;
}

.road-west {
    transform: rotate(270deg);
    transform-origin: bottom right;
}

.road {
    width: 40%;
    height: 80%;
    position: absolute;
    right: -20%;
    background-color: grey;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 2px;
        border-right: 2px dashed white;
    }
}

.road-container .car {
    width: 16%;
    height: 30%;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1%;
    z-index: 2;
}

.car {
    width: 50px;
    height: 30px;
    border-radius: 4px;
    border: 3px solid black;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;;
}

.car > .arrow {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.explanation {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.explanation-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.explanation-text {
    display: flex;
    flex-direction: column;
}

.arrow {
    position: absolute;
    width: 20%;
    height: 20%;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.arrow-right {
    background-image: url('/arrow-turn-right.svg');
}

.arrow-left {
    background-image: url('/arrow-turn-right.svg');
    transform: rotate(180deg) scale(-1, 1);
}

.arrow-straight {
    background-image: url('/arrow-straight.svg');
}

.sign {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.road-container .sign {
    position: absolute;
    width: 16%;
    height: 16%;
    z-index: 5;
    bottom: 20%;
    right: 20%;
    transform: rotate(180deg);
}

.traffic-sign-stop {
    background-image: url('/sign-stop.png');
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.traffic-sign-right-of-way {
    background-image: url('/sign-right-of-way.png');
    clip-path: polygon(47% 0%, 50% 0%, 100% 50%, 100% 50%, 47% 100%, 50% 100%, 0% 50%, 0% 47%);
}

.traffic-sign-give-way {
    background-image: url('/sign-give-way.png');
    clip-path: polygon(47% 101%, -9% 4%, 108% -4%);
}

.direction-sign {
    background-image: url('/direction-sign-se.png');
    clip-path: inset(0 4% 0 0);
}

.test-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    input[type="checkbox"] {
        width: 30px;
        height: 30px;
    }
}